.homeBannerSection {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/image/background-universe.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Lớp overlay để làm nổi bật slider */
.homeBannerSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.homeBannerSection .swiper {
  position: relative;
  z-index: 2;
}

.banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

/* Container để kiểm soát kích thước */
.banner-image-container {
  width: 90vw; /* Tăng chiều rộng */
  max-width: max-content; /* Tăng giới hạn tối đa */
  display: flex; /* Sử dụng flex để căn giữa hình ảnh */
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 8px 10px rgba(255, 255, 255, 0.3);
}

/* Style cho hình ảnh banner */
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Hiển thị toàn bộ hình ảnh, không cắt */
  border-radius: 20px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Style cho nút điều hướng */
.homeBannerSection .swiper-button-next,
.homeBannerSection .swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.homeBannerSection .swiper-button-next {
  right: 20px;
}

.homeBannerSection .swiper-button-prev {
  left: 20px;
}

.homeBannerSection .swiper-button-next:hover {
  padding-left: 10px;
  transition: all 0.3s ease;
}

.homeBannerSection .swiper-button-prev:hover {
  padding-right: 10px;
  transition: all 0.3s ease;
}

.homeBannerSection .swiper-button-prev:hover,
.homeBannerSection .swiper-button-next:hover {
  transform: scale(1.5);
}

.homeBannerSection .swiper-button-prev::after,
.homeBannerSection .swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
}
