.homeCate {
  padding: 35px 0px;
  text-align: center;
  background-color: #222;
}

.homeCate .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.homeCate .title h2 {
  display: flex;
  align-items: center;
  width: 100%;
}

.homeCate .line {
  flex-grow: 1;
  height: 1px;
  background-color: #aaa;
}

.homeCate .titleMain {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0 20px;
  font-size: 30px;
  font-weight: bold;
}

.tabbedContent {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  font-size: 32;
}

.navPills {
  justify-content: center;
  margin-bottom: 20px;
}

.navPills .navItem {
  margin: 0 10px;
}

.navPills .navBtnHomeCate {
  padding: 10px 20px !important;
  background-color: #444 !important;
  border: none !important;
  border-radius: 20px;
  color: #fff !important;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.navPills .navBtnHomeCate:focus {
  outline: none;
}

.navPills .navBtnHomeCate:hover {
  box-shadow: 0 0 5px rgb(186, 0, 0), 0 0 10px rgb(186, 0, 0, 0.7),
    0 0 20px rgba(186, 0, 0, 0.5), 0 0 30px rgba(186, 0, 0, 0.3);
  background-color: #666 !important;
  transform: scale(1.1);
}

.navPills .navBtnHomeCate.active {
  box-shadow: 0 0 5px rgb(186, 0, 0), 0 0 10px rgb(186, 0, 0, 0.7),
    0 0 20px rgba(186, 0, 0, 0.5), 0 0 30px rgba(186, 0, 0, 0.3);
  transform: scale(0.9);
}

.homeCate .categoryGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.homeCate .categoryItem img {
  width: 200px;
}

.viewAll a {
  position: relative;
  cursor: pointer;
  color: #fff;
  transition: 0.3s all ease;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.viewAll a:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 5px rgb(186, 0, 0), 0 0 10px rgb(186, 0, 0, 0.7),
    0 0 20px rgba(186, 0, 0, 0.5), 0 0 30px rgba(186, 0, 0, 0.3);
}

.viewAll a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.viewAll a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
