:root {
  /* Font*/
  --font-type: "Lato", sans-serif;
  --font-size-title-page: 30px;
  --font-size-sub-title: 35px;
  --font-size-h3: 30px;

  /* Colors */

  --color-primary: rgb(186, 0, 0); /* #ba0000 */
  --color-secondary: rgb(17, 17, 17); /* #111 */
  --color-background-primary: rgb(34, 34, 34); /* #222 */
  --color-background-secondary: rgb(51, 51, 51); /* #333 */
  --color-btn-primary: rgb(255, 255, 255);
  --color-text-primary: rgb(255, 255, 255); /* #fff */
  --color-text-light: rgba(255, 255, 255, 0.5); /* #fff 50% */
  --color-line: rgb(255, 255, 255, 0.7); /* #fff 70% */

  /* Animation */
  --box-shadow-primary: 0 0 5px var(--color-background-secondary),
    0 0 10px rgb(186, 0, 0, 0.7), 0 0 20px rgba(186, 0, 0, 0.5),
    0 0 30px rgba(186, 0, 0, 0.3);

  --transition-primary: all 0.3s ease;
  --transform-hover: translateY(-3px);
  --transfrom-active: scale(0.95);

  /* Border */
  --border: 1px solid var(--color-background-secondary);
  --border-light: 1px solid rgba(255, 255, 255, 0.1);
  --border-radius-primary: 20px;
  --border-checkbox: 2px solid #fff;
}
