@import "../../../shared/styles/variables.css";

.login {
  background-color: #222;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .container {
  position: relative;
  width: 850px;
  height: 550px;
  background-color: #222;
  border-radius: 30px;
  box-shadow: var(--box-shadow-primary);
  transition: transform 0.3s ease;
  overflow: hidden;
  perspective: 1000px;
}

.login .form-wrapper {
  display: flex;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #222;
  align-items: center;
  text-align: center;
  border-radius: 0 30px 30px 0;
  z-index: 2;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  backface-visibility: hidden;
}

.login .form-wrapper.slide-left {
  transform: translateX(100%);
  opacity: 0;
}

.login form {
  width: 100%;
  padding: 0 30px;
}

.login .container h1 {
  margin: 10px 0px;
  color: #fff;
  transition: color 0.3s ease;
}

.login .input-wrapper {
  position: relative;
  margin: 20px 0;
}

.login .input-wrapper input {
  width: 100%;
  padding: 13px;
  background-color: #444;
  border-radius: 8px;
  border: 2px solid transparent;
  outline: none;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s ease;
}

.login .input-wrapper input:focus {
  border-color: #ba0000;
  background-color: #555;
}

.login .input-wrapper svg {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  transition: color 0.3s ease;
}

.login .input-wrapper input:focus + svg {
  color: #ba0000;
}

.login .input-wrapper input.error {
  border-color: #ff0000;
  background-color: rgba(255, 0, 0, 0.1);
}

.login .input-wrapper input.error + svg {
  color: #ff0000;
}

.login .input-wrapper input.error::placeholder {
  color: #ff0000;
}

.login .error-text {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 12px;
  color: #ff0000;
}

.login .fogot-password-link {
  text-align: right;
  margin: 10px 0;
}

.login .fogot-password-link a {
  color: #888;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login .fogot-password-link a:hover {
  color: #ba0000;
}

.login .btn-login {
  width: 100%;
  padding: 12px;
  background-color: #ba0000 !important;
  color: #fff !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  text-transform: none !important;
  transition: all 0.3s ease !important;
}

.login .btn-login:hover {
  box-shadow: var(--box-shadow-primary);
}

.login p {
  color: #888;
  margin: 0;
  padding: 10px 0px;
}

.login .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.login .social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 24px;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}

.login .social-icons a:hover {
  box-shadow: var(--box-shadow-primary);
}

.login .toggle-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  perspective: 1000px;
  z-index: 2;
}

.login .toggle-wrapper::before {
  content: "";
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background-color: #111;
  border-radius: 150px;
  z-index: 2;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(0);
  backface-visibility: hidden;
}

.login .toggle-wrapper.slide-left::before {
  transform: translateX(100%);
}

.login .toggle-wrapper.slide-right::before {
  transform: translateX(0);
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.login .toggle-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  left: 60px;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  backface-visibility: hidden;
}

.login .toggle-panel.slide-left {
  transform: translateX(-100%);
  opacity: 0;
}

.login .toggle-panel p {
  margin-bottom: 20px;
}

.login .toggle-panel .btn-register {
  background-color: #ba0000;
  color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  text-transform: none;
}

.login .toggle-panel .btn-register:hover {
  box-shadow: var(--box-shadow-primary);
}
