.footer {
  margin-top: 50px;
}

.topInfo {
  color: #fff;
  padding: 50px 0px;
  border-top: 1px solid #303030;
}

.topInfo .col {
  justify-content: center;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.topInfo .col:last-child {
  border: none;
}

.topInfo .col svg {
  font-size: 25px;
}

.topInfo .col span {
  font-size: 15px;
  font-weight: 600;
}

footer .footerInner {
  position: relative;
  min-height: 333px;
  background-color: #000;
  padding: 50px 100px 30px;
  box-sizing: border-box;
}

footer .footerInner .col {
  max-width: max-content;
}

footer .footerInner h6 {
  border-bottom: solid 2px #aaa;
  line-height: 2.25;
}

footer .footerInner ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer .footerInner ul li a {
  color: #fff;
  font-size: 15px;
}

footer .footerInner ul li a:hover {
  text-decoration: none;
}

.footer .footerInner .imgLogoFooter img {
  width: 350px;
}

footer .paymentMethod img {
  width: 150px;
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
